<% provide(:title, t("views.static_pages.contact.page_title")) %>
<h1><%= t("views.static_pages.contact.page_title") %></h1>
<p>
  <%= t("views.static_pages.contact.contact") %>
  <%= link_to t("views.static_pages.contact.contact_link"), "http://www.railstutorial.org/contact"%>
</p>
